body {
    background-color: #F2F2F2;
}

.container-xxl {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: column;
}

.col-md-7, .col-md-5 {
    background-color: #FFFFFF;
    border-radius: 20px;
    border-style: solid;
    border-color: #D6D6D6;
    margin-top: 50px;
    padding: 30px;
}

.col-lg-10 {
    background-color: #FFFFFF;
    border-radius: 20px;
    border-style: solid;
    border-color: #D6D6D6;
    margin-top: 50px;
    padding: 30px;
}

label {
    margin: 8px;
    color: #2C2B30;
}

button {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D6D6D6;
    margin: 0px 10px 0px 0px;
    color: #2C2B30;
}

#idBoutonAjouter, #idBoutonModifier, #idBoutonSupprimer {
    width: 200px;
    background-color: #D6D6D6;
    color: #2C2B30;
    margin: 20px 10px 0px 10px;
}

#idBoutonSupprimer {
    background-color: darkred;
    color: white;
}