body {
    background-color: #F2F2F2; 
}

.selected-item {
    font-weight: bold;
}

.button {
    border-color: #D6D6D6;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    background-color: #D6D6D6;
    align-items: center;
    color: #2C2B30;
}

.container-fluid, .container, .container-xl, .container-lg, .container-xxl { 
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    background-color: #FFFFFF;
    align-items: center;
}

a:link {
    text-decoration: none;    
}

.suggestions-container {
    max-height: 200px;
    overflow-y: auto;
    background-color: #F2F2F2;
    position: absolute; /* Position it right below the input field */
}

.suggestions-container div {
    padding: 8px;
    cursor: pointer;
}

.suggestions-container div:hover {
    background-color: #D6D6D6;
}

#hoverable:hover {
    background-color: #D6D6D6;
    font-size: 18px;
    color: #2C2B30;
    border-color: #4F4F51;
    border-radius: 10px;
}
